version: '3'
services:
    test:
        build:
            context: .
            dockerfile: Dockerfile
        image: test
        restart: unless-stopped
        ports:
          - 8888:8888
        command: jupyter-lab --allow-root --ip 0.0.0.0
        volumes:
          - .:/usr/src