version: '3'
services:
    template-jupyterlab-gis:
        build:
            context: .
            dockerfile: Dockerfile
        image: tithiwat/template-jupyterlab-gis
        restart: unless-stopped
        ports:
          - 8888:8888
        command: jupyter-lab --allow-root --ip 0.0.0.0
        volumes:
          # - ./jupyter_server_config.json:/root/.jupyter/jupyter_server_config.json
          - .:/usr/src